/* Use a background image */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('WhatsApp Image 2024-08-04 at 21.28.37_119be9f4.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow: auto;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    margin: 20px 0;
}

h1 {
    color: #4CAF50;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.image-container {
    width: 45%;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
    padding: 10px;
    background: #f4f4f9;
}

p {
    font-size: 14px;
    color: #666;
}